<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PDF recipet</title>
  <style type="text/css">
  .wrapper{
    border:1px solid black;
    background-color:lightgrey;
  }

.Row{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.Column
{
    display: table-cell;
    #background-color: red; /*Optional*/
}

ul{
  list-style:none;
}
  </style>
</head>
<body>
<div class="wrapper">
  <div class="Row">
    <div class="Column"><h2>SMS Hospital</h2></div>
    <div class="Column"><h1>Invoice</h1></div>
    <div class="Column "><em>302-mountain view street</em><p>Jaipur -20302</p><p>Rajasthan,IN</p></div>
  </div>
  <hr/>
  <div class="Row">
    <div class="Column">
      <ul>
        <li><b>Transaction ID :</b> <%=@patient_invoice.transactionId%></li>
        <li><b>Patient Name :</b> <%= @patient_invoice.patient.user.firstname %></li>
        <li><b>Phone :</b> 8734874578</li>
        <li><b>Address :</b> 110,downtown,china town,china</li>
      </ul>
    </div>
    <div class="Column">
      <ul>
        <li><b>Bill Date :</b> <%=format_date(@patient_invoice.bill_date)%></li>
        <li><b>Admit On  :</b> <%=format_date(@patient_invoice.admit_on)%></li>
        <li><b>Discharged:</b> <%=format_date(@patient_invoice.discharged)%></li>
      </ul>
    </div>
  </div>
  <hr/>
  <div class="Row">
    <div class="Column">Id</div>
    <div class="Column">Particulars</div>
    <div class="Column">QTY</div>
    <div class="Column">RATE</div>
    <div class="Column">Amount</div>
  </div>
  <hr/>
  <div class="Row">
    <div class="Column">1</div>
    <div class="Column">No of days in ward</div>
    <div class="Column"><%= @patient_invoice.days %></div>
    <div class="Column"><%= @patient_invoice.ward_rate%></div>
    <div class="Column"><%= @patient_invoice.days*@patient_invoice.ward_rate %> &#8377;</div>
  </div>

  <div class="Row">
    <div class="Column">2</div>
    <div class="Column">No of Appointments</div>
    <div class="Column"><%= @patient_invoice.appointments %></div>
    <div class="Column">150</div>
    <div class="Column"><%= @patient_invoice.appointments*150 %> &#8377;</div>
  </div>
  <hr/>
  <div class="Row">
    <div class="Column"></div>
    <div class="Column"></div>
    <div class="Column"></div>
    <div class="Column">Total Amount :</div>
    <div class="Column"><%= @patient_invoice.amount %> &#8377;</div>
  </div>

</div>

<div class="row">
  <div class="col-sm-5"></div>
  <div class="col-sm-2" style="margin:10px;"><a href="<%= admin_invoice_url%>.pdf" class="btn btn-warning">Generate Pdf</a></div>
  <div class="col-sm-5"></div>
</div>
</body>
</html>