<div class ="row">
   <div class="col-lg-12">
   <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Patient Name</th>
        <th>Physician Name</th>
        <th>Appointment Date</th>
        <th>Cancel Appointment</th>        
      </tr>
    </thead>
    <tbody>

     <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment[0] %></td>
        <td><%= appointment[1] %></td>
        <td><%= appointment[2] %></td>
        <td><%= appointment[3] %></td>
        <td>
           <%= link_to 'cancel', admin_appointment_path(appointment[0]), method: :delete, class: "btn btn-danger" "btn btn-danger" %>
        </td>
      </tr>
     <% end %>
     
    </tbody>
  </table>   

   </div>
</div>