
<tr>
  <td><%= appointment[0] %></td>
  <td><%= appointment[1] %></td>
  <td><%= appointment[2] %></td>
  <td><%= appointment[4] %></td>
  <td><%= appointment[3] %></td> 
  <td>
  <%= link_to 'cancel', admin_appointment_path(appointment[0]), method: :delete, remote: true, class: "btn btn-danger delete_pony" %>
  </td> 
  <% if !current_user.admin? %>
     <td>
        <%= link_to 'done', admin_appointment_path(appointment[0]) ,method: :patch, remote: true, class:"btn btn-warning update_status"%>
     </td>
  <%end%>
</tr>