<div class="form-group">
  <%= f.label :charge %>
   <%= f.text_field :charge['charge'], class:"form-control" %>    
</div>

<div class="form-group">
  <%= f.label :charge_at_weekend %>
   <%= f.text_field :charge_at_weekend['charge_at_weekend'], class:"form-control" %>    
</div>

<div class="form-group">
  <%= f.submit "Admit Patient", class:"form-control btn btn-primary" %>    
</div>