<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  <a class="navbar-brand mr-1" href="<%= admin_root_path%>">SMS HOSPITAL</a>
  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="<%= admin_root_path %>">
    <i class="fa fa-clinic"></i>
  </button>
  <!-- Navbar Search -->
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>
  <!-- Navbar -->
  <ul class="navbar-nav ml-auto ml-md-0 ">

    <li>
      <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color: #343a40;border:0px">
      <%= image_tag current_user.avatar, class:'rounded-circle',width:'30px',height:'30px' %>
    </button>
    <div class="dropdown-menu" style="margin-left:-70px;">
      <a class="dropdown-item" href="#"><%= current_user.firstname%></a>
      <a class="dropdown-item" href="<%= edit_admin_user_path current_user %>">Edit Profile</a>
      <a class="dropdown-item" href="<%= logout_path %>">Logout</a>
    </div>
  </div>
    </li>
  </ul>
</nav>