
  <div class="form-group">
  <%= f.label :user_id %>
  <%= f.text_field :user_id, class:"form-control" %>    
</div>

<div class="form-group">
  <%= f.label :patient_type %>
  <%= f.text_field :patient_type, class:"form-control" %>    
</div>

<div class="form-group">
  <%= f.label :ward_assigned %>
  <%= f.text_field :ward_assigned, class:"form-control" %>    
</div>

<div class="form-group">
  <%= f.label :status %>
  <%= f.text_field :status, class:"form-control" %>    
</div>

<div class="form-group">
  
  <%= f.submit "Admit Patient", class:"form-control btn btn-primary" %>    
</div>


