
  <div class="form-group">
  <%= f.label :user_id %>
  <%= f.collection_select(:user_id, User.all, :id, :firstname) %>
</div>

<div class="form-group">
  <%= f.label :patient_type %>
  <%= f.select(:patient_type) do %>    

    <% [ ['Inpatient', 'INP'],['Outpatient','OUTP'],['Emergency','EMR'] ].each do |c| %>
      <%= content_tag(:option , c.first , value: c.last) %>      
    <% end %>

  <% end %>
</div>

<div class="form-group">
  <%= f.label :ward_assigned %>
  <%= f.text_field :ward_assigned, class:"form-control" %>    
</div>

<div class="form-group">
  <%= f.label :status %>
  <%= f.text_field :status, class:"form-control" %>    
</div>

<div class="form-group">
  
  <%= f.submit "Admit Patient", class:"form-control btn btn-primary" %>    
</div>


