<div class="form-group">
  <%= f.label :user_id %>
  <%= f.collection_select(:user_id, User.is_patients, :id, :firstname) %>
</div>

<div class="form-group">
  <%= f.label :patient_type %>
  <%= f.select(:patient_type) do %>
    <% Patient.patient_types.each do |c| %>
      <%= content_tag(:option , c.first.to_s , value: c.first.to_s) %>      
    <% end %>
  <% end %>
</div>

<div class="form-group">
  <%= f.label :ward_assigned %>
<%= f.collection_select(:ward_assigned, WardOccupancyDetail.empty, :ward_name, :ward_name) %></div>

<div class="form-group">
  <%= f.label :status %>
  <%= f.select(:status) do %>
    <% Patient.statuses.each do |c| %>
      <%= content_tag(:option , c.first.to_s , value: c.first.to_s) %>      
    <% end %>
  <% end %>
</div>

<div class="form-group">
  <%= f.submit "Admit Patient", class:"form-control btn btn-primary" %>    
</div>


