<div class="form-group">
  <%= f.label :user_id %>
  <%= f.select :user_id, options_for_select(User.is_admit), include_blank: 'Choose Patient' %>
</div>

<div class="form-group">
  <%= f.label :patient_type %>
  <%= f.select :patient_type, options_for_select(Patient.patient_types.collect{ |key,value| [key.humanize,key]}), class: 'form-control', include_blank: 'Choose Patient Type', class:'ffoo' %>
</div>

<div class="form-group">
  <%= f.label :ward_assigned %>
<%= f.collection_select(:ward_occupancy_detail_id, WardOccupancyDetail.empty, :id, :ward_name, include_blank: 'Assigne Ward') %></div>

<div class="form-group">
  <%= f.label :status %>
  <%= f.select :status, options_for_select(Patient.statuses.keys.collect{|k| [k.humanize,k] if !["refered", "discharged", "checkout"] .include? k }.compact
), class: 'form-control',  prompt: "choose status" %>
</div>

<div class="form-group">
  <%= f.submit "Admit Patient", class:"form-control btn btn-primary" %>    
</div>