
<div class="form-group">
  <%= f.label :ward_name %>
  <%= f.text_field :ward_name %> 
</div>

<div class="form-group">
  <%= f.label :ward_type %>
  <%= f.select :status, options_for_select(WardOccupancyDetail.ward_types.collect{ |k,v| [k,k]}), class: 'form-control',  prompt: "choose ward type" %>
</div>

<div class="form-group">
  <%= f.label :status %>
  <!--%= f.text_field :status, class:"form-control" %-->    
  <%= f.select :status, options_for_select(WardOccupancyDetail.statuses.collect{ |k,v| [k,k]}), class: 'form-control',  prompt: "choose status" %>
</div>

<div class="form-group">
  <%= f.submit "Add", class:"form-control btn btn-primary" %>    
</div>


