<div><a href="<%= new_admin_user_path %>" class="btn btn-primary" style="float:right">Create user</a></div>
<ul class="nav nav-tabs nav-pills custom_tabs">
  <li class="active"><a data-toggle="pill" href="#admin">Administration</a></li>
  <li><a data-toggle="pill" href="#physician">Doctor</a></li>
  <li><a data-toggle="pill" href="#patient">Patients</a></li>
  <li><a data-toggle="pill" href="#nurse">Nurses</a></li>
</ul>
  
<div class="tab-content">
  <div id="admin" class="tab-pane fade show active">
    <%= render 'admin_user' %>
  </div>
  <div id="physician" class="tab-pane fade">
    <%= render 'doctor_user' %>
  </div>
  <div id="patient" class="tab-pane fade">
    <%= render 'patient_user' %>
  </div>
  <div id="nurse" class="tab-pane fade">
    <%= render 'nurse_user' %>
  </div>
</div>