<!DOCTYPE html>
<html>
  <head>
    <title>Hms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'shared/head'%>
  </head>

  <body>
    <% if current_user.present? %>
      <%= render 'shared/notice' %>
      <%= render 'shared/topnav' %>
      <div id="wrapper">
        <!-- Sidebar -->
        <%= render 'shared/nav' %>
        <!----crumbord partial render here --->
        <div id="content-wrapper">
           <!---crumboard--->
          <%= render 'shared/crumboard'%>
          <%= yield :form_errors %>
          <div class="container"><%= yield %>
          <!-- Sticky Footer -->
          <%= render 'shared/footer' %>
          <!-- /.content-wrapper -->
        </div>
    <!-- /#wrapper -->
    <%end%>
  </body>
</html>
