<!DOCTYPE html>
<html>
  <head>
    <title>Hms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'shared/head'%>
  </head>

  <body>
    <%= render 'shared/notice' %>
    <%= render 'shared/topnav' if current_user.present? %>

    <div id="wrapper">
      <!-- Sidebar -->
      <%= render 'shared/nav' if current_user.present? %>
      <!----crumbord partial render here --->
      <div id="content-wrapper">
         <!---crumboard--->
        <%= render 'shared/crumboard' if current_user.present? %>
        <div class="container"><%= yield %>
        <% if current_user.present? %>
        <!-- Sticky Footer -->
        <%= render 'shared/footer' %>
        <%end%>
        <!-- /.content-wrapper -->
      </div>
    <!-- /#wrapper -->
  </body>
</html>
