<!DOCTYPE html>
<html>
  <head>
    <title>Hms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'shared/head'%>
  </head>

  <body>
    <%= render 'shared/notice' %>
    <% if current_user.present?%>
      <%= render 'shared/topnav' %>
      <div id="wrapper">
        <!-- Sidebar -->
        <%= render 'shared/nav' %>
        <!----crumbord partial render here --->
        <div id="content-wrapper">
        <!---crumboard--->
        <%= render 'shared/crumboard'%>
        <%= yield :form_errors %>
    <%end%>
        <div class="container">
        <%= yield %>
        <!-- Sticky Footer -->
        <%= render 'shared/footer' if current_user.present? %>
        </div>
  </body>
</html>
