<!DOCTYPE html>
<html>
  <head>
    <title>Hms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>

  <div class="container">
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Welcome to Hospital management system</h1>
    <p>kindly login to access admin dashboard</p>
  
    <button type="button" class="btn btn-lg btn-outline-primary"><%= link_to 'login' , login_path%></a>
  </div>
  </div>
  </div>

</body>
</html>